[submodule "dependencies/readerwriterqueue"]
	path = dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
	branch = master
[submodule "dependencies/cpp-httplib"]
	path = dependencies/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
	branch = master
[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = master
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "dependencies/pathie-cpp"]
	path = dependencies/pathie-cpp
	url = https://github.com/Quintus/pathie-cpp.git
	branch = master
[submodule "dependencies/fast-cpp-csv-parser"]
	path = dependencies/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser.git
	branch = master
[submodule "dependencies/NanoLog"]
	path = dependencies/NanoLog
	url = https://github.com/Iyengar111/NanoLog.git
	branch = master
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master
